<!-- Navigation -->

      <ul class="navbar-nav ml-auto">


        <li class="nav-item">
          <a class="nav-link" href="/cronache/">cronache</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/diario/">diario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/appuntamenti/">appuntamenti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editoria/">escamontage editoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locale/">grandtour  vinolibreria</a>
        </li>

        <li  class="nav-item">
          <a class="nav-link" href="/tags/"><i class="fa fa-tags" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search/"><i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
   